In [1]:
import pandas as pd

In [2]:
ntrials = 10;
nsamples = 100; #datapoints per trial

In [6]:
df = pd.read_hdf('t1.hd5', 'all')
df.sort(inplace=True)
df.head()

                               data
trial colorc mc unit time
0     -1     -1 2    0    -0.964068
                     1     1.088536
                     2     0.614238
                     3    -0.047266
                     4     0.265535

In [18]:
group_df = df.groupby(lambda x: x[0]//10).mean();
group_df.index.names=['trial_index']
group_df.head()

                 data
trial_index
0            0.006469
1           -0.020296
2           -0.039110
3            0.012214
4            0.024831

In [17]:
group_df.keys()

Index([u'data'], dtype='object')

In [7]:
idx=pd.IndexSlice
df.loc[idx[:,:,:,:,[0]],:].head()

                               data
trial colorc mc unit time
0     -1     -1 2    0    -0.964068
                5    0     0.329772
                7    0    -1.917522
                11   0    -0.172419
                15   0    -0.121093

In [8]:
df[df.index.get_level_values(level='time')==0].head()

                               data
trial colorc mc unit time
0     -1     -1 2    0    -0.964068
                5    0     0.329772
                7    0    -1.917522
                11   0    -0.172419
                15   0    -0.121093

In [9]:
df.xs(0, level='time').head()

                          data
trial colorc mc unit
0     -1     -1 2    -0.964068
                5     0.329772
                7    -1.917522
                11   -0.172419
                15   -0.121093